/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form {
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    flex-wrap: wrap;
    
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 15px;
    margin: 20px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    /* background: linear-gradient(135deg, #ff7e5f, #feb47b); */
    background: #dd5e5e;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.input{
    margin-bottom: 20px;
}
.input label {
    font-family: "Poppins", sans-serif;
    /* font-weight: 500; */
    width: 140px;
    
    margin: 0.5cm 0;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.input input {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 22px); /* Adjusting width to account for padding and border */
}
.btn input#submit {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #ff7e5f;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    border-radius: 20px;
}
.btn input#submit:hover {
    background-color: #feb47b;
}
h2 {
    text-align: center;
    /* text-decoration: underline; */
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}