<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/lista.css}">
    <link rel="stylesheet" th:href="@{css/universal.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div th:insert="~{fragmentos/header_deslogado :: header}"></div>

    <div class="container">
        <h2>Movimentações de Patrimônios</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitante</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Status</th>
                    <th>Data Solicitação</th>
                    <th>Data Aprovação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movimentacaoPatrimonio : ${ultimasMovimentacoesPatrimonios}">
                    <td th:text="${movimentacaoPatrimonio.idMovimentacaoPatrimonio}">ID</td>
                    <td th:text="${movimentacaoPatrimonio.solicitante.nomeFuncionario}">Solicitante</td>
                    <td th:text="${movimentacaoPatrimonio.origem}">Origem</td>
                    <td th:text="${movimentacaoPatrimonio.destino}">Destino</td>
                    <td th:text="${movimentacaoPatrimonio.descricao}">Descrição</td>
                    <td th:text="${movimentacaoPatrimonio.tipo}">Tipo</td>
                    <td th:text="${movimentacaoPatrimonio.status}">Status</td>
                    <td th:text="${movimentacaoPatrimonio.dataSolicitacao}">Data Solicitação</td>
                    <td th:text="${movimentacaoPatrimonio.dataAprovacao}">Data Aprovação</td>
                </tr>
            </tbody>
        </table>

        <h2>Movimentações de Estoque</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solicitante</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Status</th>
                    <th>Data Solicitação</th>
                    <th>Data Aprovação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movimentacaoEstoque : ${ultimasMovimentacoesEstoque}">
                    <td th:text="${movimentacaoEstoque.idMovimentacaoEstoque}">ID</td>
                    <td th:text="${movimentacaoEstoque.solicitante.nomeFuncionario}">Solicitante</td>
                    <td th:text="${movimentacaoEstoque.descricao}">Descrição</td>
                    <td th:text="${movimentacaoEstoque.tipo}">Tipo</td>
                    <td th:text="${movimentacaoEstoque.status}">Status</td>
                    <td th:text="${movimentacaoEstoque.dataSolicitacao}">Data Solicitação</td>
                    <td th:text="${movimentacaoEstoque.dataAprovacao}">Data Aprovação</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div th:insert="~{fragmentos/footer :: footer}"></div>
</body>

</html>
