<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar com usuário logado</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/imagens/logo/logo.png" alt="">
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <div class="logo">
                <img src="/imagens/logo/logo.png" alt="">
            </div>
            <ul>
                <li>
                    <a href="/interna-funcionario" class="active">Home</a>
                </li>
                <li>
                    <a href="/gerenciamento-sala">Salas</a>
                </li>
                <li>
                    <a href="/gerenciamento-oficina">Oficinas</a>
                </li>
                <li>
                    <a href="/gerenciamento-patrimonio">Patrimonios</a>
                </li>
                <li>
                    <a href="/gerenciamento-estoque">Estoques</a>
                </li>
                <li>
                    <a href="/manutencoes">Manutenções</a>
                </li>
                <li>
                    <a href="/logout-funcionario">Sair da conta</a>
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
</body>

</html>