<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Oficina</title>
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/cadastro-oficina.css}">
    <link rel="stylesheet" th:href="@{css/universal.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div th:insert="~{fragmentos/header_deslogado :: header}"></div>

    <div class="container">
        <h2>Registrar Oficina</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="nomeOficina">Nome da Oficina:</label>
                <input type="text" id="nomeOficina" name="nomeOficina" required>
            </div>
            <div class="form-group">
                <label for="responsavel">Funcionário Responsável (CPF):</label>
                <input type="text" id="responsavel" name="responsavel" required>
            </div>
            <div class="form-group">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>

    <div th:insert="~{fragmentos/footer :: footer}"></div>
</body>

</html>
