<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/universal.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div th:insert="~{fragmentos/header_logado :: header}"></div>
    <div class="container">
        <div class="form">
            <h2>Editar Oficina</h2>
            <form action="/atualizar-oficina" method="post">
                <input type="hidden" name="idOficina" th:value="${idOficina}">
                <div class="input">
                    <label for="nomeOficina">Nome da Oficina:</label>
                    <input type="text" id="nomeOficina" name="nomeOficina" th:value="${oficina.nomeOficina}">
                </div>
                <div class="input">
                    <label for="funcionario.cpf">Funcionário responsavel (CPF):</label>
                    <input type="text" id="funcionario.cpf" name="funcionario.cpf" th:value="${oficina.funcionario.cpf}">
                </div>

                <div class="btn">
                    <input type="submit" value="Editar" id="submit">
                </div>
            </form>
        </div>
    </div>
    <div th:insert="~{fragmentos/footer :: footer}"></div>
</body>

</html>