<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimentação de Patrimonio</title>
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/cadastro-manutencao.css}">
    <link rel="stylesheet" th:href="@{css/universal.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div th:insert="~{fragmentos/header_logado :: header}"></div>

    <div class="container">
        <h2>Movimentação de Patrimonio</h2>
        <form action="">
            <div class="form-group">
                <label for="">Id_manutencao:</label>
                <input type="text" id="" name="" required>
            </div>
            <div class="form-group">
                <label for="">Solicitante:</label>
                <input type="text" id="cpf" name="" required>
            </div>
            <div class="form-group">
                <label for="">Origem:</label>
                <input type="text" id="" name="" required>
            </div>

            <div class="form-group">
                <label for="">Destino:</label>
                <input type="text" id="" name="" required>
            </div>

            <div class="form-group">
                <label for="">Descricao:</label>
                <input type="text" id="" name="" required>
            </div>

            <div class="form-group">
                <label for="">Tipo:</label>
                <input type="text" id="" name="" required>
            </div>

            <div class="form-group">
                <label for="">Status:</label>
                <input type="text" id="" name="" required>
            </div>

            <div class="form-group">
                <label for="">Data da Solicitação:</label>
                <input type="text" id="" name="" required>
            </div>

            <div class="form-group">
                <label for="">Data da Aprovação:</label>
                <input type="text" id="" name="" required>
            </div>
            
            <button type="submit">Registrar</button>
            
        </form>

    </div>

    <div th:insert="~{fragmentos/footer :: footer}"></div>

</body>

</html>